<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>520805454947-dkj9tbcbdtqvmvent8j6loffbpq12pca.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.520805454947-dkj9tbcbdtqvmvent8j6loffbpq12pca</string>
	<key>API_KEY</key>
	<string>AIzaSyBp21wT5o07AoY5hXAOwVPOu9U5e6a2WU0</string>
	<key>GCM_SENDER_ID</key>
	<string>520805454947</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.CibumNative</string>
	<key>PROJECT_ID</key>
	<string>cibumnative</string>
	<key>STORAGE_BUCKET</key>
	<string>cibumnative.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:520805454947:ios:af7e8001587d05e1779456</string>
</dict>
</plist>